In [2]:
import numpy as np

## 2. DataTypes & Attributes

In [3]:
# NumPy's main datatype is ndarray
a1 = np.array([1,3,2,4])
a1

array([1, 3, 2, 4])

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[2,3,4,5], [4,5,6,7]])

a3 = np.array([
                [[2,3,4,5], [4,5,2,6], [4,6,7,1]],
                [[2,4.3,4.4,5], [4,6,7,1], [1.1, 1.2, 1.4, 1]],
                [[3,3.3,3.3,5], [5,5,7.3,1], [3.1, 1.2, 4.4, 9]],
              ])

In [6]:
a2

array([[2, 3, 4, 5],
       [4, 5, 6, 7]])

In [7]:
a3

array([[[2. , 3. , 4. , 5. ],
        [4. , 5. , 2. , 6. ],
        [4. , 6. , 7. , 1. ]],

       [[2. , 4.3, 4.4, 5. ],
        [4. , 6. , 7. , 1. ],
        [1.1, 1.2, 1.4, 1. ]],

       [[3. , 3.3, 3.3, 5. ],
        [5. , 5. , 7.3, 1. ],
        [3.1, 1.2, 4.4, 9. ]]])

In [8]:
a2.shape

(2, 4)

In [9]:
a3.shape

(3, 3, 4)

In [10]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [11]:
type(a1),type(a2),type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [12]:
# Creating a dataframe from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2  3
0  2  3  4  5
1  4  5  6  7

## Creating arrays

In [13]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [14]:
sample_array.dtype

dtype('int64')

In [15]:
# Shift + Tab for doc of fun.
ones = np.ones((2,3)) # .ones() function
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [16]:
ones.dtype

dtype('float64')

In [17]:
type(ones)

numpy.ndarray

In [18]:
# .zeros() function
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
# .arange()
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [20]:
# random array
random_array = np.random.randint(low=0, high=10, size=(3,5))
random_array

array([[1, 8, 8, 1, 4],
       [1, 4, 1, 6, 4],
       [1, 6, 7, 3, 1]])

In [21]:
random_array.size

15

In [22]:
random_array.shape

(3, 5)

In [23]:
# .random()
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.26064998, 0.19626245, 0.83178865],
       [0.91089375, 0.10244976, 0.84806064],
       [0.68915634, 0.31464088, 0.70517687],
       [0.10595947, 0.95587913, 0.73323712],
       [0.48818776, 0.02513393, 0.4469707 ]])

In [24]:
random_array_2.shape

(5, 3)

In [25]:
# .rand()
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[4.11741688e-04, 7.06449595e-02, 6.78831876e-01],
       [6.55426150e-01, 7.45668687e-01, 1.74211494e-01],
       [5.40818748e-01, 4.76153807e-01, 4.86917221e-01],
       [1.03169018e-02, 4.18058141e-02, 5.34021714e-01],
       [4.57164639e-01, 4.27006634e-01, 2.67240359e-01]])

In [76]:
# Pesudo-random numbers
np.random.seed(seed=9999)
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[6, 1, 6],
       [5, 5, 9],
       [6, 8, 0],
       [8, 1, 5],
       [3, 1, 0]])

In [77]:
np.random.seed(seed=7)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [78]:
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.90959353, 0.21338535, 0.45212396],
       [0.93120602, 0.02489923, 0.60054892],
       [0.9501295 , 0.23030288, 0.54848992],
       [0.90912837, 0.13316945, 0.52341258],
       [0.75040986, 0.66901324, 0.46775286]])

## 3. Viewing arrays and matrices

In [79]:
# find unique from nparray
np.unique(random_array_4)

array([0, 1, 3, 5, 6, 8, 9])

In [80]:
a1

array([1, 3, 2, 4])

In [81]:
a2

array([[2, 3, 4, 5],
       [4, 5, 6, 7]])

In [82]:
a3

array([[[2. , 3. , 4. , 5. ],
        [4. , 5. , 2. , 6. ],
        [4. , 6. , 7. , 1. ]],

       [[2. , 4.3, 4.4, 5. ],
        [4. , 6. , 7. , 1. ],
        [1.1, 1.2, 1.4, 1. ]],

       [[3. , 3.3, 3.3, 5. ],
        [5. , 5. , 7.3, 1. ],
        [3.1, 1.2, 4.4, 9. ]]])

In [83]:
a1[0]

1

In [84]:
a2[0]

array([2, 3, 4, 5])

In [85]:
a3[0]

array([[2., 3., 4., 5.],
       [4., 5., 2., 6.],
       [4., 6., 7., 1.]])

In [86]:
a3[:2, :2, :2]

array([[[2. , 3. ],
        [4. , 5. ]],

       [[2. , 4.3],
        [4. , 6. ]]])

In [88]:
a4 = np.random.randint(10, size=(2, 3, 4, 5))
a4

array([[[[1, 1, 5, 3, 2],
         [0, 4, 8, 7, 1],
         [4, 9, 3, 6, 7],
         [1, 0, 2, 7, 0]],

        [[0, 9, 8, 2, 0],
         [5, 5, 0, 9, 0],
         [8, 4, 5, 1, 4],
         [0, 7, 2, 0, 3]],

        [[9, 8, 3, 7, 1],
         [0, 1, 4, 6, 1],
         [0, 1, 0, 1, 8],
         [4, 1, 6, 8, 5]]],


       [[[2, 4, 7, 4, 1],
         [2, 8, 5, 2, 9],
         [6, 2, 5, 7, 7],
         [5, 5, 6, 0, 6]],

        [[4, 6, 2, 6, 8],
         [7, 0, 5, 8, 9],
         [7, 7, 6, 2, 5],
         [6, 1, 9, 3, 4]],

        [[0, 3, 5, 6, 4],
         [0, 4, 1, 5, 2],
         [4, 8, 7, 5, 7],
         [5, 3, 7, 6, 2]]]])

In [90]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [95]:
# Get first 4 numbers of the inner most array
a4[:, :, :, :4]

array([[[[1, 1, 5, 3],
         [0, 4, 8, 7],
         [4, 9, 3, 6],
         [1, 0, 2, 7]],

        [[0, 9, 8, 2],
         [5, 5, 0, 9],
         [8, 4, 5, 1],
         [0, 7, 2, 0]],

        [[9, 8, 3, 7],
         [0, 1, 4, 6],
         [0, 1, 0, 1],
         [4, 1, 6, 8]]],


       [[[2, 4, 7, 4],
         [2, 8, 5, 2],
         [6, 2, 5, 7],
         [5, 5, 6, 0]],

        [[4, 6, 2, 6],
         [7, 0, 5, 8],
         [7, 7, 6, 2],
         [6, 1, 9, 3]],

        [[0, 3, 5, 6],
         [0, 4, 1, 5],
         [4, 8, 7, 5],
         [5, 3, 7, 6]]]])

## 4. Manipulating & comparing arrays

###  #Arithmetic

In [96]:
a1

array([1, 3, 2, 4])

In [101]:
ones = np.ones(4)
ones

array([1., 1., 1., 1.])

In [102]:
a1 + ones

array([2., 4., 3., 5.])

In [103]:
a1 - ones

array([0., 2., 1., 3.])

In [104]:
a1 * ones

array([1., 3., 2., 4.])

In [105]:
a1 / ones

array([1., 3., 2., 4.])

In [108]:
a1

array([1, 3, 2, 4])

In [106]:
a2

array([[2, 3, 4, 5],
       [4, 5, 6, 7]])

In [107]:
a1 * a2

array([[ 2,  9,  8, 20],
       [ 4, 15, 12, 28]])

In [109]:
# How can you reshape a2 to be compatible with a3
# Search: "Home to reshape numpy array"
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,4) (3,3,4)

In [110]:
a1 / ones

array([1., 3., 2., 4.])

In [112]:
a2 / a1

array([[2.        , 1.        , 2.        , 1.25      ],
       [4.        , 1.66666667, 3.        , 1.75      ]])

In [114]:
# Floor division removes the decimals (rounds down)
a2 // a1

array([[2, 1, 2, 1],
       [4, 1, 3, 1]])

In [116]:
a2

array([[2, 3, 4, 5],
       [4, 5, 6, 7]])

In [115]:
a2 ** 2

array([[ 4,  9, 16, 25],
       [16, 25, 36, 49]])

In [117]:
np.square(a2)

array([[ 4,  9, 16, 25],
       [16, 25, 36, 49]])

In [119]:
a1 + ones

array([2., 4., 3., 5.])

In [118]:
np.add(a1, ones)

array([2., 4., 3., 5.])

In [123]:
# % modula operation will return remainder
a1 % 2

array([1, 1, 0, 0])

In [124]:
a1 / 2

array([0.5, 1.5, 1. , 2. ])

In [125]:
a2 % 2

array([[0, 1, 0, 1],
       [0, 1, 0, 1]])

In [126]:
# exponential
np.exp(a1)

array([ 2.71828183, 20.08553692,  7.3890561 , 54.59815003])

In [127]:
# log
np.log(a1)

array([0.        , 1.09861229, 0.69314718, 1.38629436])

### 5. Aggregation (aggregation function)

Aggregation = performing the same operation on a number of things

In [128]:
listy_list = [1, 2, 3]
type(listy_list)

list

In [129]:
sum(listy_list)

6

In [130]:
type(a1)

numpy.ndarray

In [131]:
sum(a1)

10

In [132]:
np.sum(a1)

10

Note: use Python's methods (`sum()`) on Python's datatypes and use NumPy mehtods on Numpy arrays (`np.sum()`).

In [137]:
# Creating a massive NumPy array
massive_array = np.random.random(100000)
massive_array.size

100000

In [141]:
massive_array[:10]

array([0.80510153, 0.39294502, 0.52251073, 0.67854101, 0.18845405,
       0.33150603, 0.22394903, 0.75098623, 0.50255376, 0.14066532])

In [142]:
# time masure for operation %timeit is special function in jupyter
%timeit sum(massive_array) # Python's sum()
%timeit np.sum(massive_array) # NumPy's np.sum()

6.82 ms ± 39 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
28.2 µs ± 81.1 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [143]:
# np.mean()
np.mean(a2)

4.5

In [148]:
a2

array([[2, 3, 4, 5],
       [4, 5, 6, 7]])

In [145]:
# np.max()
np.max(a2)

7

In [147]:
# np.min()
np.min(a2)

2

In [149]:
# np.std()
# Standard deviation = a measure of how spread out a group of numbers is from the mean
np.std(a2)

1.5

In [150]:
# np.var()
# Var(Variance) = measure of the average degree to which each number is different to the mean
# Higher variance = wider range of numbers
# Lower variance = lower range of numbers
np.var(a2)

2.25

In [151]:
# Standard deviation = squareroot of variance
np.sqrt(np.var(a2))

1.5